
@{
    ViewData["Title"] = "LogIn";
}

<h1>LogIn</h1>

<form method="post" action="/home/processlogin">
    UserName: <input type="text" name="username" /> <br /><br />
    Password: <input type="password" name="password" /> <br /> <br />
    <input type="submit" />
</form>