@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please fill out our form <a href="/home/FormFillOut">Here</a> for the best possible experience.</p>
</div>
