
@{
    ViewData["Title"] = "ShowRegister";
}

<h1>ShowRegister</h1>

<form method="post" action="/home/register">
    First Name: <input type="text" name="firstname" placeholder="First Name"/> <br />
    Last Name: <input type="text" name="lastname" /> <br />
    Email: <input type="email" name="email" /> <br />
    Born: <input type="text" name="born" /> <br />
        <span style="color:red;">@ViewBag.BornMessage</span>


   @* <select name="born">
        <option>1960</option>
        <option>1920</option>
        <option>1930</option>
        <option>1940</option>
        <option>1950</option>
        <option>1960</option>
    </select>*@




    <input type="submit" value="Sell Soul"/>
</form>