
@{
    ViewData["Title"] = "ShowRegister";
}

<h1>ShowRegister</h1>

<form method="post" action="/home/register">
    First Name: <input type="text" name="firstname" placeholder="First Name"/> <br />
    Last Name: <input type="text" name="lastname" /> <br />
    Email: <input type="email" name="email" /> <br />
    Born: <input type="number" name="born" /> <br />
    <input type="submit" value="Sell Soul"/>
</form>