
@{
    ViewData["Title"] = "AddPetForm";
}

<h1>Please fill out the below form to add your pets info: </h1>
<form method="post" action="/home/PetInfo">
    <input placeholder="Species" name="species" type="text"/>
    <input placeholder="Name" name="name" type="text" />
    <input placeholder="Color" name="color" type="text" />
    <input placeholder="Gender" name="gender" type="text" />
    <input placeholder="Age" name="age" type="number" />
    <input type="submit" placeholder="INFO GIVETH" />
</form>

