@model Animal;
@{
    ViewData["Title"] = "PetInfo";
}

<h1>We are pleased to add @Model.Name !!</h1>

Species:@Model.Species <br />
Color: @Model.Color <br />
Gender: @Model.Gender <br />
Age: @Model.Age <br />
